.navbar{ 
    display: flex;

 background: #004D40;
 justify-content: center;
 gap: 2rem;
 height: 3rem;
 align-items: center;
}
a{
    color: #FFEA00;
    text-decoration: none;
}


*{
 font-size: 20px;
}